html{
  font-size: 16px;
}
body{
  background: rgba(61, 132, 168, 0.3);
  Font-Family: 'Ruda', Sans-Serif;
  padding-top: 55px;

}

.navbar{
  background-color: #48466d;
  height: 55px;
  font-size: 16px;
  width: 100%;
}

.center{
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.sign-up h1 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 15px;
}

.input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 300px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
}

.form-button{
  width: 300px;
}
